<h1>Your Friends</h1>
<%# each friend represents one instance of request model sent_by, sent_to %>
<% @friends.each do |friend| %>
  <% if friend.profile_picture.attached? %>
      <%= image_tag friend.profile_picture.variant(resize_to_limit: [200,200]), class: "post-profile-img" %>
      <%=friend.name%> 
    <% else %>
      <img class="img-circle post-profile-img" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-zsbDeAUd8aY%2FUS7F0ta5d9I%2FAAAAAAAAEKY%2FUL2AAhHj6J8%2Fs1600%2Ffacebook-default-no-profile-pic.jpg&f=1&nofb=1">
      <%=friend.name%>
    <% end %>  
  
  
  <%= link_to "Story", user_posts_path(friend) %>
<% end %>