<div class="picture-container">
  <div class="row d-flex justify-content-center">
    <%= link_to 'Delete', post, method: :delete %>
  </div>
  <%= link_to image_tag(post.picture.variant(resize_to_limit: [500,500])), url_for(post.picture), class: "thumbnail"%>
</div>