/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(219, 241, 219);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 85px;
  text-align: center;
  /* background-color: rgb(222, 243, 200); */
}
button {
  border-radius: 10px;
}
.navbar {
  height: 70px;
  color: rgb(48, 224, 77);
  position: relative;
  overflow: hidden;
  background-color: rgb(48, 224, 77);
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.new-post {
}
.user-info {
  color: black;
}
.logo-container {
  height: 70px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* left: 50%;
  right: 50%;
  position: absolute; */
}
.logo {
  object-fit: cover;
  height: 70px;
}
.post-container {
  position: relative;
  margin: auto;
  width: 70%;
  border-radius: 10px;
  border-color: black;
  border-width: thick;
  border-style: outset;
  background-color: rgb(120, 243, 141);
  margin-bottom: 30px;
}
.content {
  font-size: larger;
  border-color: black;
  border-width: 5px;
}
.post-info {
  display: inline-flex;
  font-size: xx-small;
}
.like-counter {
  margin-right: 20px;
}
.new-post {
  color: black;
  float: left;
  font-size: large;
  margin-top: 10px;
  margin-left: 10px;
}
.interactions { 
  display: flex;
  margin-left: 10px;
}

.interactions > div > button {
  background-color: rgb(37, 126, 10);
  font-size: xx-small;
  color: white;
}
.like-button {
  background-color: rgb(37, 126, 10);
  font-size: xx-small;
  color: white;
}

.post-picture > img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.post-picture > img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#post_body {
  color: rgb(18, 194, 18);
  border-radius: 10px;
}

textarea {
  border-radius: 8px;
}

input {
  border-radius: 10px;
  display: inline-flex;
}

.user-info > p {
  background-color: rgb(98, 248, 38);
  border-radius: 8px;
}
